$cgrey : #eeecec;
$cgreyblack : #b1b0ab;
$cwhite : #fff;
$cblack : #000;
$cred : #e31720;
$flight : 'BRANDON_LIGHT', sans-serif;
$fregular : 'BRANDON_REG', sans-serif;
$fmedium : 'BRANDON_MED', sans-serif;
$fbold : 'BRANDON_BLD', sans-serif;

@font-face {
    font-family: 'BRANDON';
    src: url('../assets/fonts/BRANDON_LIGHT.OTF');
}
@font-face {
    font-family: 'BRANDON';
    src: url('../assets/fonts/BRANDON_REG.OTF');
}
@font-face {
    font-family: 'BRANDON_MED';
    src: url('../assets/fonts/BRANDON_MED.OTF');
}
@font-face {
    font-family: 'BRANDON_BLD';
    src: url('../assets/fonts/BRANDON_BLD.OTF');
}

body {
    font-family: $fregular;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.aviso {
    background-color: $cgreyblack;
    color: $cwhite;
    text-align: center;
    font-family: $fbold;
    padding: .2rem;
    font-size: .9rem;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap {
    max-width: 1300px;
    width: 95%;
    margin: auto;
}
.btn {
    &.btn-primary {
        background: $cblack;
        color: $cwhite;
        border-color: $cblack;
    }
}

header {
    .cabecera {
        padding: 1.5rem;
        .options {
            width: 100%;
            ul {
                li {
                    margin: .5rem;
                    i {
                        color: $cgreyblack;
                    }
                }
            }
            &:last-child {
                ul {
                    justify-content: flex-end;
                }
            }
        }
        .logo {
            display: table;
            width: 100%;
            max-width: 110px;
            margin: 0 1rem;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    nav {
        ul li {
            margin: 0 1rem;
            a {
                color: $cgreyblack;
                text-transform: uppercase;
                letter-spacing: .05rem;
                font-size: .9rem;
                &:hover, &.active {
                    color: $cblack;
                }
            }
        }
    }
}

#slider {
    margin-top: 2rem;
    .slick-arrow {
        width: 40px;
        height: 60px;
        z-index: 9;
        background: $cblack;
        &::before {
            display: none;
        }
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
        }
    }
    .slick-dots {
        bottom: 1rem;
        li {
            button:before {
                font-size: 1rem;
                opacity: .2;
            }
            &.slick-active button:before {
                opacity: 1;
                color: $cred;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
        &.desktop {
            display: block;
        }
        &.movil {
            display: none !important;
        }
    }
}

form.wrap {
    max-width: 500px;
    margin: 2rem auto 0;
    text-align: center;
    .campos {
        margin: 1rem 0 .5rem;
        input {
            margin-right: .5rem;
        }
    }
    .form-check {
        width: fit-content;
        margin: auto;
        a {
            margin-left: .2rem;
            color: $cblack;
            text-decoration: underline;
        }
    }
}

footer {
    background: $cgrey;
    padding: 3rem 0;
    text-align: center;
    margin-top: 3rem;
    .menuFooter {
        text-transform: uppercase;
        b {
            font-weight: 100;
            font-family: $fmedium;
            font-size: 1rem;
            margin-bottom: .7rem;
            display: block;
        }
        a {
            color: $cgreyblack;
            font-size: .9rem;
            letter-spacing: .05rem;
            &:hover {
                color: $cblack;
            }
            i {
                display: inline-block;
                margin-left: .5rem;
            }
        }
    }
    .pie {
        margin-top: 3rem;
        padding-top: 3rem;
        border-top: solid 1px rgba($cblack,.05);
        span {
            color: $cgreyblack;
            font-size: .9rem;
        }
    }
}